
extends ./layouts/index.pug

block content
 .display-flex.al-items-center
  h1.text-center welcome to J19 ROOM
  h3.text-center.text-info
   a.text-white(href='/auth/login') login 
   | to use more action