extends ../layouts/common.pug

block content
	//- a(href="/users/create") create new users

	//- form(action="users/search", method="GET")
	//- 	input(type="text" name="q")
	//- 	button search

	table.table.table-striped.table-dark
		tr
			th(scope='col') avatar
			th(scope='col') name
			th(scope='col') action

		each user in users

			tr
				td 
					img.rounded-circle(src=user.avatar, width='64')
				td= user.name
				td
					if (user._id == cookie)
						a(href="/users/status") Post Status now

					else
						a(href="#") view	