extends ../layouts/common.pug

block content
 form.m-auto(action="/users/status", method="POST", style="width: 45rem" )
  .form-group
    label(for='exampleInputEmail1') Write Something Here
    input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter your text', name='status')
  button.btn.btn-primary(type='submit') Submit
